
<div class="container" style="margin:auto;">
    <h1 class="bigger">
        <strong>Account Summary</strong>
    </h1>
    
    <h1 class="bold vertical-separate"><span> Success by Day </span></h1>

    <div style="display: block;height:40vh;width:70%;" id="summaryChartContainer">
        <bar-chart [data]="user?.weeklysuccess" [bCL]="xAxisLabels" [chartLabel]="chartTitle"></bar-chart>
    </div>

    <hr>

    <div style="display: block;height:40vh;width:30vw;margin:auto;">
        <h1 class="bold vertical-separate"><span> Top words </span></h1>
        <table class="table table-sm table-inverse">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Word</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let word of user?.topwords; let i = index; trackBy: trackByFn">
                    <th scope="row">{{i+1}}</th>
                    <td>{{word}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div style="display: block;margin:auto;">
        <h1 class="bold vertical-separate"> Most Successful Tweet </h1>
        <div [innerHTML]="tweetHTML" class="vertical-separate"></div>
        <h1 class="bold vertical-separate">Most Favorited Tweet</h1>
        <div [innerHTML]="tweetHTML2" class="vertical-separate"></div>
        <h1 class="bold vertical-separate">Most Retweeted Tweet</h1>
        <div [innerHTML]="tweetHTML3" class="vertical-separate"></div>
    </div>
</div>