<div class="text-center size-normalizer">
    <div class="vertical-center">
        <img src="/app/resources/logo.png" class="logo"/>
        <p class="med-text text-muted move-up">
            What the fuck did you just fucking say about me, you little bitch? I’ll have you know I graduated top of my class in the Navy Seals, and I’ve been involved in numerous secret raids on Al-Quaeda, and I have over 300 confirmed kills.

I am trained in gorilla warfare and I’m the top sniper in the entire US armed forces. You are nothing to me but just another target. I will wipe you the fuck out with precision the likes of which has never been seen before on this Earth, mark my fucking words.

You think you can get away with saying that shit to me over the Internet? Think again, fucker. As we speak I am contacting my secret network of spies across the USA and your IP is being traced right now so you better prepare for the storm, maggot. The storm that wipes out the pathetic little thing you call your life. You’re fucking dead, kid. I can be anywhere, anytime, and I can kill you in over seven hundred ways, and that’s just with my bare hands.

Not only am I extensively trained in unarmed combat, but I have access to the entire arsenal of the United States Marine Corps and I will use it to its full extent to wipe your miserable ass off the face of the continent, you little shit. If only you could have known what unholy retribution your little “clever” comment was about to bring down upon you, maybe you would have held your fucking tongue.

But you couldn’t, you didn’t, and now you’re paying the price, you goddamn idiot. I will shit fury all over you and you will drown in it.

You’re fucking dead, kiddo.
        </p>
        
            <div class="input-center">
                <form name="loginForm"
                #loginForm="ngForm"
                (ngSubmit)="accountInteraction()"
                novalidte>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Email</span>
                    <input #email="ngModel" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" [(ngModel)]="details.email" name="email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                </div>
                <br/>
                <validation [model]="email" [messages]="{required : 'Email is required', pattern : 'Not a valid email'}"></validation>
                <div *ngIf="create">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Twitter Handle</span>
                    <input #handle="ngModel" type="text" class="form-control" placeholder="Twitter Handle" aria-describedby="sizing-addon1" [(ngModel)]="details.twitter_handle" name="handle" required>
                </div>
                <br/>
                <validation [model]="handle" [messages]="{required : 'Handle is required'}"></validation>
                </div>
                <div *ngIf="create">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">First name</span>
                    <input #firstname="ngModel" type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon1" [(ngModel)]="details.first_name" name="firstname" required>
                </div>
                <br/>
                <validation [model]="firstname" [messages]="{required : 'First name is required'}"></validation>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Password</span>
                    <input #password="ngModel" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" [(ngModel)]="details.password" name="password" required minlength=7>
                </div>
                <br/>
                <validation [model]="password" [messages]="{required : 'Password is required', minlength : 'Password must be at least seven characters'}"></validation>
                <!--<div *ngIf="create">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Confirm Password</span>
                    <input #confirm="ngModel" type="password" class="form-control" placeholder="Confirm Password" aria-describedby="sizing-addon1" [(ngModel)]="details.confirm" name="confirm" required value-match>
                </div>
                <br *ngIf="create"/>
                <validation [model]="confirm" [messages]="{required : 'Confirm password is required', matching : 'Confirm password must match password'}"></validation>
                </div>-->
                <div *ngIf="loginFail" class="alert alert-danger" role="alert">
                    <ul style="list-style: none">
                        <li>
                            {{ create ? "Username is taken" : "Username or password is incorrect" }}
                        </li>
                    </ul>
                </div>
                <p><button class="btn btn-primary full-width twitgood-green-bg" type="submit">{{ create ? 'Submit' : 'Login'}}</button></p>
                </form>
                <p><button class="btn btn-primary full-width twitgood-green-bg" (click)="createFlip()">{{ create ? 'Cancel' : 'Create Account'}}</button></p>
            </div>
        
    </div>
</div>