<div class="text-center size-normalizer">
    <div class="vertical-center">
        <img src="/assets/logo.png" class="logo"/>
        <p class="med-text text-muted move-up">
            tweet better
        </p>
        
            <div class="input-center">
                <form name="loginForm"
                #loginForm="ngForm"
                (ngSubmit)="accountInteraction()"
                novalidte>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Email</span>
                    <input #email="ngModel" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" [(ngModel)]="details.email" name="email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                </div>
                <br/>
                <validation [model]="email" [messages]="{required : 'Email is required', pattern : 'Not a valid email'}"></validation>
                <div *ngIf="create">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Twitter Handle</span>
                    <input #handle="ngModel" type="text" class="form-control" placeholder="Twitter Handle" aria-describedby="sizing-addon1" [(ngModel)]="details.twitter_handle" name="handle" required>
                </div>
                <br/>
                <validation [model]="handle" [messages]="{required : 'Handle is required'}"></validation>
                </div>
                <div *ngIf="create">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">First name</span>
                    <input #firstname="ngModel" type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon1" [(ngModel)]="details.first_name" name="firstname" required>
                </div>
                <br/>
                <validation [model]="firstname" [messages]="{required : 'First name is required'}"></validation>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Password</span>
                    <input #password="ngModel" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" [(ngModel)]="details.password" name="password" required minlength=7>
                </div>
                <br/>
                <validation [model]="password" [messages]="{required : 'Password is required', minlength : 'Password must be at least seven characters'}"></validation>
                <!--<div *ngIf="create">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Confirm Password</span>
                    <input #confirm="ngModel" type="password" class="form-control" placeholder="Confirm Password" aria-describedby="sizing-addon1" [(ngModel)]="details.confirm" name="confirm" required value-match>
                </div>
                <br *ngIf="create"/>
                <validation [model]="confirm" [messages]="{required : 'Confirm password is required', matching : 'Confirm password must match password'}"></validation>
                </div>-->
                <div *ngIf="loginFail" class="alert alert-danger" role="alert">
                    <ul style="list-style: none">
                        <li>
                            {{ create ? ( handleNotExists ? "Twitter handle does not exist" : "Email is taken") : "Username or password is incorrect" }}
                        </li>
                    </ul>
                </div>
                <p><button class="btn btn-primary full-width twitgood-green-bg" type="submit">{{ create ? 'Submit' : 'Login'}}</button></p>
                </form>
                <p><button class="btn btn-primary full-width twitgood-green-bg" (click)="createFlip()">{{ create ? 'Cancel' : 'Create Account'}}</button></p>
            </div>
        
    </div>
</div>
