<div>
<nav class="navbar navbar-default navbar-fixed-top" id="topbar" style="height:7vh">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: white; font-size: 4vh; font-weight: bold;">Twitgood</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color: white">FAQ</a></li>
        <li><a href="#" style="color: white">Support</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true" style="color: white"></span></a></li>
    </ul>
  </div>
</nav>
</div>

<div class="container-fluid" style="margin-top:7vh;height:93vh">
        <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">
                <div class="logo">
                    <img src="app/resources/ProfileAvatarPlaceholder.png" class="img-responsive center-block" alt="Logo" style="width:120px;height:120px;">
                    <!--/Users/jaimesilva/Desktop/Post login/images/nemo.jpg-->
                    <h3 style="text-align:center;">@{{handle}}</h3>
                </div>
                <br><br>
				<hr>
                <div class="left-navigation">
                    <ol class="list">
                        <li>
                            <a href="javascript:void(0);" [routerLink]="'summary'" class="biggerFont">Summary</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" [routerLink]="'detail'" class="biggerFont">Detail</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" [routerLink]="'engagement'" class="biggerFont">Engagement</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" [routerLink]="'highlights'" class="biggerFont">Highlights</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-10 col-sm-8 main-content container" id="datadisplaybox" style="overflow: auto;margin: auto;height:93vh">
            <!--Main content code to be written here --> 
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>