<div class="container" style="margin:auto;">
    <h1>
        <strong>Account Summary</strong>
    </h1>

    <h1><span> Volume by Hour </span></h1>

    <div style="display: block;height:40vh;width:40vw;margin:auto;">
        <bar-chart [data]="user?.weeklysuccess" [bCL]="xAxisLabels" [chartLabel]="chartTitle"></bar-chart>
    </div>

    <div style="display: block;height:40vh;width:40vw;margin:auto;">
        <h1><span> Top words </span></h1>
            <table class="table table-sm table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Word</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let word of user?.topwords; let i = index; trackBy: trackByFn">
                        <th scope="row">{{i}}</th>
                        <td>{{word}}</td>
                    </tr>
                </tbody>
            </table>
        <h1><span> Top words </span></h1>
    </div>
    <br>
    <br>

    <!--<div style="display: block;height:30vh;width:30vw;margin:auto;">
        <h2><span class="label label-default" style="color:#21b4a4;background-color:#ececec;
        border-color: grey;border-style: solid;">
            {{user.retweetsPerTweet}}</span> 
        <font size="6">retweets per tweet</font></h2>
        <br>
        <h2><span class="label label-default" style="color:#21b4a4;background-color:#ececec;border-color: grey;
        border-style: solid;">
            {{user.likesPerTweet}}</span>
            <font size="6">likes per tweet</font></h2>
    </div>-->

    <div>
        <iframe border=0 frameborder=0 height=700 width=600 scrolling="no" style="float:center"
        src="http://twitframe.com/show?url=https://twitter.com/premierleague/status/857455028738699264">
        </iframe>
    </div>
</div>