#summaryChartContainer{
    margin-left : 15%;
    margin-right : 15%;
    margin-top: 2%;
    margin-bottom: 12%;
}
.vertical-separate{
    margin-top: 4vh;
}

.bottom-separate{
    margin-bottom: 4vh;
}
.bigger{
    font-size: 7vh;
}

.bold{
    font-weight: bold;
}