<h1>
    <strong>Account Summary</strong>
</h1>

<h1><span> Volume by Hour </span></h1>

<div style="display: block;height:40vh;width:70%;" id="summaryChartContainer">
    <bar-chart [data]="user?.hourlytweeting" [bCL]="xAxisLabels" [chartLabel]="chartTitle"></bar-chart>
</div>

<h1><span> Average Interactions </span></h1>

<div style="display: block;height:30vh;width:30vw;margin:auto;">
    <h2><span class="label label-default" style="color:#21b4a4;background-color:#ececec;
    border-color: grey;border-style: solid;">
        {{user.retweetsPerTweet}}</span> 
    <font size="6">retweets per tweet</font></h2>
    <br>
    <h2><span class="label label-default" style="color:#21b4a4;background-color:#ececec;border-color: grey;
    border-style: solid;">
        {{user.likesPerTweet}}</span>
        <font size="6">likes per tweet</font></h2>
    <iframe border=0 frameborder=0 height=600 width=600 scrolling="no" 
 src="http://twitframe.com/show?url=https://twitter.com/premierleague/status/857455028738699264"></iframe>

</div>